/* .root {
  --branco: rgb(255, 255, 255); // exemplo de como criar variaveis css
} */

.meu-header {
  height: 20vh;
  background-color: black;
  display: flex;
  justify-content: space-around;
}


.cortes {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}



